/* body {*/
/*   min-height: 2000px;*/
/* }*/

/* .navbar-static-top {*/
/*     margin-bottom: 19px;*/
/* }*/

dd {
    margin-bottom: 10px;
}

.todo {
    color: red;
}

.toread {
    color: orange;
}


/* .jumbotron {*/
/*     background-image: url(../images/insects_bkg.jpg);*/
/*     background-position: 0% 0%;*/
/*     background-size: auto;*/
/*     background-repeat: repeat;*/
/* }*/


